
.cnt{
  width: fit-content;
  height: fit-content;
  background-color: rgba(1, 11, 11, 0.834);
  color: azure;
  padding: 30px;
  margin: 30px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
}

.concss{
   height: 100vh;
  background-image: url("./pexels-pixabay-262325.jpg");
  background-color: rgb(237, 183, 199);
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}