ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 20px 0 0 0;
    background-color: rgb(13, 43, 50);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 10px 10px 700px;
    font-weight: bolder;
}
li{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: rgb(244, 244, 246);
}